@font-face {
    font-family: OpenSans;
    font-display: auto;
    src: url(../fonts/OpenSans-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: OpenSans;
    font-display: auto;
    src: url(../fonts/OpenSans-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: OpenSans;
    font-display: auto;
    src: url(../fonts/OpenSans-ExtraBold.ttf);
    font-weight: 900;
}