.titulo_contenido_tutorial {
	margin-left: 1%;
}
.contenido_tutorial {
	margin-left: 1%;
	margin-bottom: 1%;
}
.imagen_contenido_tutorial {
	width: 70%;
	height: 50%;
	margin: 1% auto;
	display: table;
}
.caja_imagen {
	text-align: center;
	display: block;
}
.imagen_atras {
	margin: 1% auto;
	display: inline-block;
	width: 16%;
	height: 16%;
}
.imagen_siguiente {
	margin: 1% auto;
	display: inline-block;
	width: 16%;
	height: 16%;
}
.console {
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
	margin-left: 1%;
	margin-bottom: 1%;
	padding: 12px 24px;
	background-color: #333333;
	color: #f5f5f5;
	font-family: monospace, serif;
	font-size: .95em;
}
.console pre {
	display: inline-block;
	padding: 0;
	margin: 0;
	border: none;
	white-space: pre-wrap;
	white-space: -moz-pre-wrap!important;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
}
.spoilerbutton {
	display: block;
	margin-left: 1%;
	margin-bottom: 1%;
	margin-top: 1%;
}
.spoiler {
	overflow: hidden;
	background: #333333;
	color: #f5f5f5;
	margin-left: 1%;
}
.spoiler > div {
	-webkit-transition: all 0.2s ease;
	-moz-transition: margin 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: margin 0.2s ease;
}
.spoilerbutton[value="Mostrar"] + .spoiler > div {
	margin-top: -550%;
}
.spoilerbutton[value="Ocultar"] + .spoiler > div {
	padding: 5px;
}
.youtube {
	margin: 1% auto;
	display: table;
}