.maps {
	margin-bottom: 2%;
}
.maps iframe {
	width: 90%;
	height: 15%;
	padding: 0% 0% 0% 3%;
}
.maps small a {
	padding: 0% 0% 2% 3%;
	color:#0000FF;
	text-align:left;
}
.maps p {
	padding: 3% 0% 0% 3%;
	font-weight: bold;
}
/* contenedor formulario */
.contacto {
	padding: 0% 0% 0% 3%;
	overflow: auto;
}
/* Formulario */

.formulario {
	list-style-type: none;
	list-style-position: outside;
}

.titulo1 {
	display:inline-block;
	font-weight: bold;
	clear: both;
	margin-left: -6%;
}
.campos {
	margin-left: 3%;
	display:inline-block;
	vertical-align: top;
}
#Email {
	width: 106%;
}
sub {
	font-size: smaller;
	vertical-align: sub;
	margin-bottom: 5%;
	display: block;
}
.boton {
	margin-bottom: 2%;
}