.titulo_indice {
	margin-left: 2%;
}
.content_indice {
	margin-left: 2%;
}
.imagen_indice {
	margin: 1% auto;
	display: table;
}
#tabla {
	border: 1px solid #000000;
	width: %;
	height: %;
	border-spacing: 4px;
	margin: 2% auto 2% auto;
	background-color: #a01010;
}
#tabla td, th {
	border: 1px solid #000000;
}
#tabla tr:nth-child(1) {
	text-align: center;
	font-weight: bold;
	font-family: Comic Sans MS;
	background-color: #dc3c3c;
}
#tabla tr:nth-child(2) {
	background-color: #f9f0f0;
}
#tabla tr:nth-child(3) {
	background-color: #f9f0f0;
	text-align: center;
}
#tabla tr:nth-child(4) {
	text-align: center;
	background-color: #f9f0f0;
}
#tabla tr:nth-child(5) {
	text-align: center;
	background-color: #f9f0f0;
}
#tabla tr:nth-child(6) {
	text-align: center;
	background-color: #f9f0f0;
}
#tabla tr:nth-child(7) {
	text-align: center;
	background-color: #f9f0f0;
}
#tabla tr:nth-child(8) {
	text-align: center;
	background-color: #f9f0f0;
}
#tabla tr:nth-child(9) {
	text-align: center;
	background-color: #f9f0f0;
}
#tabla tr:nth-child(10) {
	text-align: center;
	background-color: #f9f0f0;
}
#tabla tr:nth-child(11) {
	text-align: center;
	background-color: #f9f0f0;
}