html,body {
	height: 100%;
}
body {
	background-image: url("imagenes/wood.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	-o-background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-ms-background-size: cover;
	background-attachment: fixed;
	background-position: center;
}
.Cabecera {
	width: 80%;
	position: relative;
	margin: -10px auto 0 auto;
}
.Cabecera img {
	width: 100%;
}
/*Comienzo Menu*/
.Menu {
	width: 79.7%;
	margin: -3.8px auto 0 auto;
	position: relative;
	border: 0.15em solid #000000;
	height: 5%;
	background-color: #681111;
}
.Menu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.Menu ul li {
	border-style: solid;
	border-color: #e1d7d7;
	border-width: 2px;
	margin: 0 2px;
	background-color: #d00505;
	font-size: 105%;
	float: left;
	width: 11%;
	height: 5%;
	text-align: center;
	line-height: 30px;
}
.Menu ul li:hover {
	border-color: #00FA9A;
}
.Menu ul li:hover a {
	color: #00FA9A;
}
.Menu ul li.activa {
	border-color: #e1d7d7;
	background-color: #ac0b0f;
}
.Menu ul li.activa a {
	color: #ffffff;
}
.Menu ul li a {
	text-decoration: none;
	color: #ffffff;
	display: block;
}
/* Fin Menu*/
.contenedor {
	width: 80%;
	margin: 0 auto 0 auto;
	position: relative;
	background-color: #f9fbdf;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.izquierda {
	display: inline-block;
	width: 70.42%;
}
.derecha {
	display: inline-block;
	text-align: right;
	width: 29%;
	vertical-align: top;
}
.buscador {
	width: 100%;
}
.audio {
	width: 100%;
	padding-right: 100px;
	margin-top: 20px;
	margin-bottom: 20px;
}
audio {
	width: 100%;
}
/* Comienzo enlaces*/
.enlaces {
	margin-left: 1em;
	margin-right: 1em;
	margin-bottom: 1em;
	border: 0.1em solid #990000;
	box-shadow: 0px 0px 20px #990000;
	-moz-box-shadow: 0px 0px 20px #990000;
	-webkit-box-shadow: 0px 0px 20px #990000;
	-o-box-shadow: 0px 0px 20px #990000;
	background-color: #fff4f5;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}
.titulo {
	background-color: #990000;
	text-align: center;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}
.titulo p {
	color: #ffffff;
	padding: 3% 0% 3% 0%;
	margin-top: 0%;
}
.contenido {
	text-align: left;
}
.contenido ul {
	list-style-image: url('imagenes/flecha_roja.gif');
}
.contenido ul li {
	padding-bottom: 1.8%;
}
/* Fin enlaces*/
.Pie {
	background-color: #ffffff;
	height: 4%;
	border: 0.1em solid #000000;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	width: 80%;
	display: table;
	margin: 0 auto 0 auto;
	position: relative;
}
.Pie p {
	display: table-cell;
	text-align: center;
	font-weight: bold;
	vertical-align: middle;
}
#capareloj {
	font-size: 8pt;
	color: #ffffff;
	font-family: verdana,arial,helvetica;
	font-weight: bold;
	text-align: right;
	padding-top: 2.2%;
}