.tutoriales {
	list-style: none;
}
.tutoriales li {
	padding-bottom: 2%;
}
.tutoriales li a {
	font-size: 20px;
}
.marco {
	margin: 3% 3% 3% 3%;
	border: 0.1em solid #990000;
	box-shadow: 0px 0px 20px #990000;
	-moz-box-shadow: 0px 0px 20px #990000;
	-webkit-box-shadow: 0px 0px 20px #990000;
	-o-box-shadow: 0px 0px 20px #990000;
	background-color: #fff4f5;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}
.Segundo_marco {
	background-color: #990000;
	text-align: center;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}
.Segundo_marco p {
	color: #ffffff;
	padding: 1.5% 0% 1.5% 0%;
	margin-top: 0%;
	font-weight: bold;
	font-size: 20px;
}
.Tercer_marco {
	text-align: left;
}